body {
  background: #000;
  color: #00ff80;
  font: 1em "Fira Code", "Fira Mono", monospace;
  margin: 2em auto;
  width: 600px;
}

input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: solid 1px #00ff80;
  color: #00ff80;
  font: 1em "Fira Code", "Fira Mono", monospace;
  padding: 0;
  width: 5em;
}

input[type=text]:focus {
  border-bottom-width: 2px;
  outline: none;
}

.text {
  min-height: 4em;
  max-width: 40em;
  padding-bottom: 2em;
}

.result {
  font-size: 1em;
  padding-top: 1em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.answers {
  list-style: none;
  padding: 0;
}

.heart__full {
  margin-top: -0.5em;
  font-size: 1.5em;
}

.end {
  text-align: center;
}

.repeat-action {
  cursor: pointer;
  text-decoration: underline;
}